body {
  color: black;
  background-color: white;
}

h1, h2 {
  color: white;
}

article a, article a:visited {
  color: black;
}

p.categorie {
  color: white;
  background-color: #ED1C24;
  padding: 3px;
}

header, #menuTop, #conteneurFormulaire input {
  background-color: #ED1C24;
}

#barreRecherche, #conteneurFormulaire input {
  color: white;
  outline-color: black;
}

#barreRecherche::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#barreRecherche {
  background-color: rgba(255, 255, 255, 0.2);
}

.img {
  background-color: #cccccc;
}

#menu, #listeCategorie, #formAjouter {
  background-color: #dddddd;
}

#blocMenu, #eltAjouter, #eltCategorie {
  background-color: rgba(68, 68, 68, 0.8);
}


#ajouter:checked ~ [for="ajouter"], #categorie:checked ~ [for="categorie"], #theme:checked ~ [for="theme"] {
  background-color: #444444;
  color: white;
}

#conteneurFormulaire input {
  border: none;
}