body {
  color: white;
  background-color: #333333;
}

article a, article a:visited {
  color: white;
}

header, #menuTop, #conteneurFormulaire input, #conteneurFormulaire select {
  background-color: #ED1C24;
}

#barreRecherche, #conteneurFormulaire input, #conteneurFormulaire select {
  color: white;
  outline-color: white;
}

#barreRecherche::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#barreRecherche {
  background-color: rgba(255, 255, 255, 0.2);
}

.img {
  background-color: #444444;
}

#menu, #formCategorie, #formAjouter {
  background-color: #333333;
}

#blocMenu, #eltAjouter, #eltCategorie {
  background-color: rgba(68, 68, 68, 0.8);
}


#ajouter:checked ~ [for="ajouter"], #categorie:checked ~ [for="categorie"], #theme:checked ~ [for="theme"] {
  background-color: #888888;
}

#conteneurFormulaire input, #conteneurFormulaire select {
  border: none;
}