* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #333333;
}

h1 {
  font-size: 0px;
  transition: font-size 0.6s ease-in-out;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

label {
  font-size: 0px;
  transition: font-size 0.6s ease-in-out;
}

/* ----------------------------------------------------- */
/* ------------------ PAGE PRINCIPALE ------------------ */
/* ----------------------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ED1C24;
  height: 40px;
}

#recherche {
  width: 30px;
  height: 30px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
  margin-right: 20px;
}

#hamburger {
  display: none;
}

#hamburger + label {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  background-image: url("../svg/bars.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}

#hamburger:checked ~ #blocMenu {
  transform: translate(0, 0);
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 40px);
  overflow: auto;
}

.img {
  width: 101px;
  height: 88px;
  background-color: #444444;
  margin: 0 7px;
  margin-top: 6px;
  flex-shrink: 0;
}

section {
  display: flex;
  margin: 10px;
  height: 100px;
}

section > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

section > div > div {
  display: flex;
}

section > div > div > p:nth-child(2) {
  margin-left: 40px;
}

/* ----------------------------------------------------- */
/* ---------------------- MENU ------------------------- */
/* ----------------------------------------------------- */

#menu {
  height: 100%;
  width: 0px;
  background-color: #333333;
  transition: width 0.5s ease-in-out;
}

#fermerMenu {
  height: 100%;
  width: 100vw;
  transition: width 0.5s ease-in-out;
}

#menuTop {
  height: 60px;
  background-color: #ED1C24;
}

#blocMenu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(68, 68, 68, 0.8);
  top: 0;
  left: 0;
  transform: translate(calc(-200vw), 0);
  display: flex;
}

#blocMenu .menuOuvert:not(#fermerMenu):not(#logo):not([for="ajouter"]):not([for="categorie"]):not([for="theme"]) {
  width: 260px;
}

#blocMenu .menuOuvert:not(#menu):not(#logo):not([for="ajouter"]):not([for="categorie"]):not([for="theme"]) {
  width: calc(100vw - 260px);
}

#menuTop .menuOuvert {
  font-size: 32px;
}

#menuBot .menuOuvert {
  font-size: 22px;
}

#logo {
  text-align: center;
  margin: 0;
  padding-top: 7px;
}

#logo::before {
  content: url("../svg/music.svg");
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

#menuBot label {
  display: block;
  margin: 15px 5px;
}

#menuBot label::before {
  width: 30px;
  height: 30px;
  position: relative;
  top: 8px;
  margin-right: 5px;
}

#ajouter {
  display: none;
}

#ajouter + label::before {
  content: url('../svg/add.svg');
}

#categorie {
  display: none;
}

#categorie + label::before {
  content: url("../svg/library-music.svg");
}

#theme {
  display: none;
}

#theme + label::before {
  content: url("../svg/moon.svg");
}